<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>PC后台</title>
        <link rel="stylesheet" href="./static/css/reset.css">
    </head>
    <body>
        <script src=<%= htmlWebpackPlugin.options.path %>tinymce/tinymce.min.js></script>
        <script src=<%= htmlWebpackPlugin.options.path %>tinymce/jquery.min.js></script>
        <script src=<%= htmlWebpackPlugin.options.path %>tinymce/jquery.form.min.js></script>
        <div id="app"></div>
    </body>
</html>
